:root {
    --white: #FEFEFEff;
    --vista-blue: #8794d4;
    --transparent-vista-blue: rgba(135, 148, 212, 0.7);
    --maya-blue: #78C0E9ff;
    --transparent-maya-blue: rgba(120, 192, 233, 0.5);
    --cambridge-blue: #70B2A5ff;
    --rose-pompadour: #E28596ff;
    --african-violet: #9C7DB8ff;
    --wisteria: #BA99D0ff;
    --rose-pompadour-2: #DA7E92ff;
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 470px;
    height: 50px;
    background-color: var(--maya-blue);
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 130px;
}

a:nth-child(4) {
    width: 130px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: var(--vista-blue);
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: var(--rose-pompadour);
}

nav .start-projects,
a:nth-child(3):hover~.animation {
    width: 130px;
    left: 210px;
    background-color: var(--african-violet);
}

nav .start-contact,
a:nth-child(4):hover~.animation {
    width: 130px;
    left: 340px;
    background-color: var(--cambridge-blue);
    background-size: cover;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background-image: linear-gradient(to right, var(--transparent-vista-blue), var(--transparent-maya-blue));
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
}