/* Color scheme 
--white: #FEFEFEff;
--vista-blue: #8794D4ff;
--maya-blue: #78C0E9ff;
--cambridge-blue: #70B2A5ff;
--rose-pompadour: #E28596ff;
--african-violet: #9C7DB8ff;
--wisteria: #BA99D0ff;
--rose-pompadour-2: #DA7E92ff; 
*/