{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<div class="content">
    <img src="static/images/foto-jurgen.jpg" alt="picture of site owner" class="about-image">
    <p class="about-text">
        My name is Jurgen Stegeman, I'm 34 years old. I live in Eefde a village near Zutphen. I'm the father of a
        beautiful
        2 year old daughter called Nova. In my free time I like to play pc- and boardgames, or make big puzzles.
        However,
        the last year I have been having so much fun with learning how to code that a lot of my time goes into learning
        how
        to code. I am critical thinker, with strong analyzing and problem solving skills. Furthermore, I'm also very
        eager
        to learn.
    </p>

    <p class="about-text">
        As education I finished HAVO, after that I did do HBO Pabo and HBO business IT and management.
        Sadly my younger self was not interested in studying so I did not finish those studies.
        I finished a MBO 4 study of leisure and hospitality management between the 2 HBO studies.
        The last few years I have done several jobs, things like doing the dishes at a restaurant,
        or factory work like sorting papers and cleaning pallets. At a certain point in my life,
        I decided I was done with such jobs and I wanted a change. While I was on sick leave I started
        studying for IT jobs, since I always loved everything to do with computers.
    </p>

    <p class="about-text">
        At first I started through a free course about HTML. Once I learned that I did 2 courses through Soofos,
        1 for CSS and 1 for JavaScript. After these courses I followed an IT orientation program through Techgrounds.
        During it I took a liking to Software Development and Data Engineering. I finished a Data Engineering course
        through Bit Academy. And during it I noticed I love the coding part of Data Engineering, but less so the data
        visualization part of it. So in the end I prefer the Software Development side. After the Data Engineering
        course.
        I took a further dive into Python since I already had a base in it. Through Udemy I followed a Python course.
    </p>
</div>
{% endblock %}