<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header>
        <nav class="top-menu">
            <a class="page-links" href="{{ url_for('index') }}">Home</a>
            <a class="page-links" href="{{ url_for('projects') }}">Projects</a>
            <a class="page-links" href="{{ url_for('about') }}">About</a>
            <a class="page-links" href="{{ url_for('contact') }}">Contact</a>
            <div class="animation  {{ animation_class }}"></div>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <footer>
        <p>Made by Jurgen Stegeman.</p>
    </footer>
</body>

</html>