{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}
<div class="content">
    {% if form.is_submitted() %}
    <h1>Thank you for your message {{ name }}, I will get back to you as soon as possible.</h1>
    {% else %}
    <h2>If you want to contact me please fill out this form. Or use the contact information at the bottom</h2>
    <br>
    <div class="form-container">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-name") }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-email") }}

            {{ form.message.label(class="form-label") }}
            {{ form.message(class="form-message") }}

            {{ form.submit(class="form-submit-button") }}
        </form>
    </div>

    <p class="contact-info">Email: jurgenstegeman@live.nl
        <a href="https://www.linkedin.com/in/jurgen-stegeman-841aaa122/">Linkedin</a>
    </p>
</div>

{% endif %}

{% endblock %}