{% extends "base.html" %}

{% block title %} Projects {% endblock %}

{% block content %}
<div class="content">
    <h1>Projects</h1>
    <div class="projects">
        {% for project in project_data %}
        <div class="{{ project['img-container-class'] }}">
            <a href="#"><img src="{{ project['img-src'] }}" alt="{{ project['img-alt'] }}" class="project-images"></a>
            <div class="{{ project['overlay-class'] }}">
                <div class="text">{{ project['overlay-text'] }}</div>
            </div>
        </div>
        {% if loop.index % 2 == 0 %}
        <br>
        {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock %}